<!DOCTYPE html>
<html>
    
<title>Music Discovery by Deep</title>

<head>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
</head>

<body>
    
    <div class = "container">
        <h1 class = "info">{{ song_name }} </h5>
        <h2 class = "info">By
        {% for i in range(total_artists) %}
            {% if i == total_artists-1 %}
                {{ artist_name[i] }}
            {% else %}
                {{ artist_name[i] }} |
            {% endif %}
        {% endfor %}
        </h2>

        <div class ="info">
            <b><p>
            {% if lyrics_link == None %}
                    Lyrics Unavailable | <a class = "new_link" href= {{spotify_url}} target="_blank">Play on Spotify!</a> 

            {% else %}
                    <a class = "new_link" href = {{lyrics_link}} target="_blank">Click for Lyrics!</a>
                    |
                    <a class = new_link href= {{spotify_url}} target="_blank">Play on Spotify!</a>

            {% endif %}
            </p></b>
        </div>

        
        <div class = info>
            <img src= {{song_img}} width="25%" height="25%">
        </div>
        
        <br><br>
        {% if song_preview == None %}
            <h3 class = "info">No Song Preview</h5>
        {% else %}
            <div class = "info">
                <audio controls> 
                    <source src="{{ song_preview }}"  type="audio/mp3">
                </audio>
            </div>
        {% endif %}
        
        <br>
        
    </div>
    
<!-- Ascii Dog
           __
      (___()'`; (woof)
      /,    /`
      \\"--\\
 -->
 
</body>
    
</html>
